<div class="container" data-ng-controller="userPasswordController as vm">
    <form class="form-horizontal" data-ng-submit="vm.changePassword();">
        <div class="form-group" data-ng-if="vm.user.password">
            <label class="col-sm-4 control-label">Senha Atual</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" ng-model="vm.currentPassword" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Nova Senha</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" ng-model="vm.newPassword" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Confirmação Nova Senha</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" ng-model="vm.confirmNewPassword" required>
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-success" data-ng-value="buttonSaveValue"/>
        </div>
    </form>
</div>
