<html>
   <head>
      <meta charset="UTF-8">
      <base href="/">

      <title>Appointment -- Sistema de Agendamento</title>

      <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="libs/angular-toastr/dist/angular-toastr.min.css">
      <link rel="stylesheet" href="libs/themify-icons/themify-icons.css">
      <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
      <script src="libs/angular/angular.js"></script>
      <script src="libs/bootstrap/dist/js/bootstrap.js"></script>
      <script src="libs/angular-route/angular-route.js"></script>
   </head>

   <body>
      <div ng-controller="shellController as shell"
        ng-include="shell.isLoggedOn() ? 'app/shell/shell.html' : 'app/login/login.html'">
      </div>

      <script src="libs/angular-toastr/dist/angular-toastr.min.js"></script>
      <script src="libs/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
      <script src="libs/ngstorage/ngStorage.min.js"></script>

      <script src="dist/app.js"></script>
   </body>
</html>
